
<footer class="footer">
    <div class="container">
        <div class="footer-section footer-history">
            <img src="assets/img/logo2.png" alt="Logo de Tienda Jordan" class="footer-logo">
          </div>
  
      <div class="footer-section footer-products">
        <h3>Nuestros Productos</h3>
        <ul>
            <li><a href="#galeria">Tenis</a></li>
            <li><a href="#galeria">Playeras</a></li>
            <li><a href="#galeria">Pans</a></li>
            <li><a href="#galeria">Chamarra</a></li>
        </ul>
        <!-- Enlaces sociales -->
        <div class="social-links">
          <!-- Facebook -->
          <a href="https://www.facebook.com/profile.php?id=61554398394135" aria-label="Facebook de Tienda Jordan" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/facebook.png" alt="Facebook logo">
          </a>
          <!-- TikTok -->
          <a href="https://www.tiktok.com/@s.neakercity/video/7295802273991494917" aria-label="TikTok de Tienda Jordan" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/tiktok.png" alt="TikTok logo">
          </a>
          <!-- Instagram -->
          <a href="https://www.instagram.com/jordan123222333/" aria-label="Instagram de Tienda Jordan" target="_blank" rel="noopener noreferrer">
            <img src="assets/img/instagram.png" alt="Instagram logo">
          </a>
        </div>
      </div>
  
      <div class="footer-section footer-copyright">
        <p>&copy; 2024 Tienda Jordan. Todos los derechos reservados.</p>
        <p>Diseñado por Christian Martinez Torrealba</p>
      </div>
    </div>
  </footer>