<nav>
  <div class="nav-wrapper  red accent-4">
    <a href="#" class="brand-logo"><img src="assets/img/logo2.png" alt=""></a>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#inicio">{{inicio}}</a></li>
      <li><a href="#historia">{{historia}}</a></li>
      <li><a href="#promociones">{{promociones}}</a></li>
      <li><a href="#video">{{videos}}</a></li>
      <li><a href="#personal">{{personal}}</a></li>
      <li><a href="#formulario">{{formulario}}</a></li>
      <li><a href="#ubicacion">{{ubicacion}}</a></li>
      <li><a href="#galeria">{{galeria}}</a></li>
      <li><a href="#footer">{{footer}}</a></li>
    </ul>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
      <li>
      <div class="user-view">
        <div class="background">
          <img src="../../../assets/img/fondo.jpg">
        </div>
        <a href="#"><img class="circle" src="assets/img/logo2.png"></a>
        <a href="#"><span class="white-text name">Christian Martinez Torrealba</span></a>
        <a href="#"><span class="white-email">cristian.ckangmail.com</span></a>
      </div>
    </li>
  <li><a class="waves-effect" href="#inicio"><i class="material-icons colorIcono">home</i>{{inicio}}</a></li>
  <li><a class="waves-effect" href="#historia"><i class="material-icons colorIcono">group</i>{{historia}}</a></li>
  <li><a class="waves-effect" href="#promociones"><i class="material-icons colorIcono">card_giftcard</i>{{promociones}}</a></li>
  <li><a class="waves-effect" href="#video"><i class="material-icons colorIcono">map</i>{{videos}}</a></li>
  <li><a class="waves-effect" href="#personal"><i class="material-icons colorIcono">extension</i>{{personal}}</a></li>
  <li><a class="waves-effect" href="#formulario"><i class="material-icons colorIcono">group</i>{{formulario}}</a></li>
  <li><a class="waves-effect" href="#ubicacion"><i class="material-icons colorIcono">map</i>{{ubicacion}}</a></li>
  <li><a class="waves-effect" href="#galeria"><i class="material-icons colorIcono">group</i>{{galeria}}</a></li>
  <li><a class="waves-effect" href="#footer"><i class="material-icons colorIcono">group</i>{{footer}}</a></li>
</ul>
