.parallax {
    /* The image used */
    background-image: url("../../../assets/img/jordan1.jpg");
  
    /* Set a specific height */
    min-height: 500px;
    min-width: auto;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax2 {
    /* The image used */
    background-image: url("../../../assets/img/jordan2.jpg");
  
    /* Set a specific height */
    min-height: 500px;
    width: auto;
    
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
