<hr>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Historia</h1>
        </div>
    </div>
</div>


<section id="historia">
    <div class="container">
        <div class="row">
            <div class="col s12 ">
                <div class="parallax"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <h1>Nuestra Historia</h1>
                <p>
                En el corazón de la ciudad vibrante, un pequeño local comenzó a transformarse en un punto de 
                encuentro obligado para los amantes del baloncesto y la moda urbana: "Jumpman Legacy". 
                Fundada en 2024 por Christian y Jordan, dos apasionados de los sneakers, la tienda nació de un sueño 
                común de celebrar y compartir la influencia cultural de Michael Jordan en el mundo del deporte y más allá.
                "Jumpman Legacy" no es solo una tienda de tenis; es un santuario donde cada estante y cada caja cuentan 
                historias de grandeza, innovación y revolución estética. Desde las legendarias Jordan 1, 
                que cruzaron las líneas entre el deporte y la rebelión, hasta las últimas ediciones limitadas, 
                Christian y Jordan se aseguran de que cada par que ofrecen tenga una narrativa única.
                </p>
            </div>
        </div>
        <div class="parallax2">
    
        </div>
       
    </div>
    </section>


   